
.curve-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.curve-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.btn{
  width: 150px;
  margin-right: 10px;
  margin-top: 10px;
}